################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Splendid.POCO.UI/obj/Debug
/Splendid.POCO.UI/bin/Debug
/packages
